*,
*::before,
*::after {
  padding: 0;
  margin: 0; }

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  color: #444; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

a:focus,
:active {
  outline: none; }

.container {
  max-width: 1200px;
  min-width: 320px; }

.header {
  padding: 15px 0 0 0;
  background: url("../img/background-header2.png") no-repeat center/cover; }
  .header__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__awards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .logo__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 17px; }
  .logo__text {
    color: #383334;
    line-height: 40px; }
    @media (max-width: 767px) {
      .logo__text {
        font-size: calc(19px + 5.1 * ((100vw - 320px) / 1200)); } }
    @media (min-width: 767px) {
      .logo__text {
        font-size: calc(19px + 3 * (100vw / 1200)); } }

.awords__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .awords__item:not(:last-child) {
    margin-right: 30px; }

.awords__icon {
  margin-right: 10px; }

.awords__text {
  color: #666666;
  line-height: 18px;
  font-style: italic; }
  @media (max-width: 767px) {
    .awords__text {
      font-size: calc(14px + 3.4 * ((100vw - 320px) / 1200)); } }
  @media (min-width: 767px) {
    .awords__text {
      font-size: calc(14px + 2 * (100vw / 1200)); } }

.header__content {
  margin-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.about {
  padding: 0; }
  .about__title {
    max-width: 305px;
    width: 100%; }
  .about__header {
    color: #383334;
    font-size: 44px;
    font-weight: 900;
    line-height: 44px; }
  .about__span {
    font-size: 34px;
    font-weight: 700;
    line-height: 38px; }
    .about__span_red {
      position: relative;
      z-index: 10; }
      .about__span_red::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        bottom: 0;
        left: 0;
        background: #ff6b00;
        z-index: -1; }
    .about__span_green {
      position: relative;
      z-index: 10; }
      .about__span_green::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        bottom: 0;
        left: 0;
        background: #a7c93d;
        z-index: -1; }

.list {
  margin-top: 4px; }
  .list__item {
    margin: 40px 30px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .list__numberWrapperTop {
    max-width: 60px;
    max-height: 60px;
    width: 100%;
    height: 100%;
    background: #e8edc9;
    border-radius: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 7px;
    margin-right: 18px; }
  .list__numberWrapperMidle {
    max-width: 46px;
    max-height: 46px;
    width: 100%;
    height: 100%;
    background: #a7c93d;
    border-radius: 50%;
    padding: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 0; }
  .list__number {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .list__number_first {
      letter-spacing: -2px; }
  .list__text {
    color: #444444;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px; }
  .list__span {
    color: #000000;
    font-weight: 500; }

.red {
  position: relative;
  z-index: 10; }
  .red::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #ff6b00;
    z-index: -1; }

.green {
  position: relative;
  z-index: 10; }
  .green::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #a7c93d;
    z-index: -1; }

.form {
  border: 7px solid #a8ca3f;
  border-radius: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 0; }
  .form__titleWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 0 18px 0;
    padding: 0 20px; }
  .form__title {
    color: #000000;
    font-size: 20px;
    line-height: 22px; }
  .form__subtitle {
    color: #ff6b00;
    font-weight: 500;
    line-height: 22px; }
  .form__prices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .form__inputs {
    padding: 0 20px; }
  .form__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.04);
    border-radius: 32px;
    border: 1px solid #eef2f7;
    background: #eef2f7;
    padding: 20px; }
  .form__input {
    max-width: 110px;
    border: 0;
    background: #eef2f7;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px; }
    .form__input:focus {
      outline: none; }
    .form__input::-webkit-input-placeholder {
      color: #666666;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px; }
    .form__input:-ms-input-placeholder {
      color: #666666;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px; }
    .form__input::-ms-input-placeholder {
      color: #666666;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px; }
    .form__input::placeholder {
      color: #666666;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px; }
  .form__button {
    border-radius: 32px;
    border: 1px solid #ffc002;
    background: #ffc002;
    color: #000000;
    line-height: 16px;
    font-size: 16px;
    padding: 11.5px 45px;
    margin-bottom: 20px;
    font-weight: 700; }
  .form__btn {
    display: none; }
  .form__labelSpan {
    font-weight: 700;
    font-size: 28px;
    line-height: 22px; }
  .form__text {
    color: #666;
    font-size: 18px;
    line-height: 18px; }
  .form__numberTen {
    color: #9dbd39;
    font-weight: 500; }

.form-footer {
  background: #eef2f7;
  padding: 11px 0 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .form-footer__logo {
    margin-right: 12px; }
  .form-footer__text {
    color: #666666;
    font-size: 14px;
    line-height: 16.52px; }

.label-form {
  margin-bottom: 20px; }
  .label-form:first-child {
    margin-bottom: 10px; }
  .label-form__logo {
    margin-right: 15px; }
