*,
*::before,
*::after {
  padding: 0;
  margin: 0; }

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  color: #444; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

a:focus,
:active {
  outline: none; }

.container {
  max-width: 1200px;
  min-width: 320px; }

.header {
  padding: 15px 0 0 0;
  background: url("../img/background-header2.png") no-repeat center/cover; }
  .header__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__awards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .logo__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 17px; }
  .logo__text {
    color: #383334;
    line-height: 40px; }
    @media (max-width: 767px) {
      .logo__text {
        font-size: calc(19px + 5.1 * ((100vw - 320px) / 1200)); } }
    @media (min-width: 767px) {
      .logo__text {
        font-size: calc(19px + 3 * (100vw / 1200)); } }

.awords__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .awords__item:not(:last-child) {
    margin-right: 30px; }

.awords__icon {
  margin-right: 10px; }

.awords__text {
  color: #666666;
  line-height: 18px;
  font-style: italic; }
  @media (max-width: 767px) {
    .awords__text {
      font-size: calc(14px + 3.4 * ((100vw - 320px) / 1200)); } }
  @media (min-width: 767px) {
    .awords__text {
      font-size: calc(14px + 2 * (100vw / 1200)); } }

.header__content {
  margin-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0; }

.header__progress {
  position: absolute;
  top: 51.5%;
  left: 6.5%; }

.about {
  padding: 0; }
  .about__title {
    max-width: 305px;
    width: 100%; }
  .about__header {
    color: #383334;
    font-size: 44px;
    font-weight: 900;
    line-height: 44px; }
  .about__span {
    font-size: 34px;
    font-weight: 700;
    line-height: 38px; }
    .about__span_red {
      position: relative;
      z-index: 10; }
      .about__span_red::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        bottom: 0;
        left: 0;
        background: #ff6b00;
        z-index: -1; }
    .about__span_green {
      position: relative;
      z-index: 10; }
      .about__span_green::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        bottom: 0;
        left: 0;
        background: #a7c93d;
        z-index: -1; }

.list {
  margin-top: 4px;
  position: relative; }
  .list__item {
    margin: 40px 26px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .list__numberWrapperTop {
    max-width: 60px;
    max-height: 60px;
    width: 100%;
    height: 100%;
    background: #e8edc9;
    border-radius: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 7px;
    margin-right: 18px; }
  .list__numberWrapperMidle {
    max-width: 46px;
    max-height: 46px;
    width: 100%;
    height: 100%;
    background: #a7c93d;
    border-radius: 50%;
    padding: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 0; }
  .list__number {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .list__number_first {
      letter-spacing: -2px; }
  .list__text {
    color: #444444;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px; }
  .list__span {
    color: #000000;
    font-weight: 500; }

.red {
  position: relative;
  z-index: 10; }
  .red::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #ff6b00;
    z-index: -1; }

.green {
  position: relative;
  z-index: 10; }
  .green::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #a7c93d;
    z-index: -1; }

.form {
  border: 7px solid #a8ca3f;
  max-width: 270px;
  border-radius: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 0;
  position: relative; }
  .form__free {
    padding-bottom: 15px;
    padding: 0 15px 15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    border: 7px solid #a8ca3f;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: 0;
    background: #f3f9ff;
    position: absolute;
    top: -1.3%;
    left: 19%; }
  .form__car {
    margin-right: 8px; }
  .form__span {
    color: #444444;
    font-size: 16px;
    line-height: 18px; }
  .form__titleWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 48px 0 18px 0;
    padding: 0 20px; }
  .form__title {
    color: #000000;
    font-size: 20px;
    line-height: 22px; }
  .form__subtitle {
    color: #ff6b00;
    font-weight: 500;
    line-height: 22px; }
  .form__inputs {
    padding: 0 20px; }
  .form__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.04);
    border-radius: 32px;
    border: 1px solid #eef2f7;
    background: #eef2f7;
    padding: 20px; }
  .form__input {
    max-width: 110px;
    border: 0;
    background: #eef2f7;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px; }
    .form__input:focus {
      outline: none; }
    .form__input::-webkit-input-placeholder {
      color: #666666;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px; }
    .form__input:-ms-input-placeholder {
      color: #666666;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px; }
    .form__input::-ms-input-placeholder {
      color: #666666;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px; }
    .form__input::placeholder {
      color: #666666;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px; }
  .form__button {
    max-width: 210px;
    width: 100%;
    background: #ffc002;
    border: 3px solid #ffd34e;
    border-radius: 32px;
    color: #000000;
    line-height: 16px;
    font-size: 16px;
    padding: 7px 30px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 0; }
  .form__buttonWrapp {
    max-width: 218px;
    width: 100%;
    border-radius: 36px;
    background: #ffc002;
    border: 0;
    padding: 5px;
    margin-bottom: 20px;
    cursor: pointer; }
  .form__btn {
    display: none; }
  .form__labelSpan {
    font-weight: 700;
    font-size: 28px;
    line-height: 22px; }
  .form__text {
    color: #666;
    font-size: 18px;
    line-height: 18px; }
  .form__numberTen {
    color: #9dbd39;
    font-weight: 500; }
  .form__arrow {
    position: absolute;
    top: 32%;
    right: -12%; }

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px; }
  .price__old {
    color: #666;
    font-size: 14px;
    line-height: 24px;
    position: relative; }
  .price__new {
    color: #000;
    font-size: 14px;
    line-height: 24px; }
  .price__oldNumber {
    margin-top: 7px;
    padding: 8px 12px;
    border-radius: 5px;
    background: transparent;
    color: #000000;
    font-size: 34px;
    line-height: 24px;
    font-weight: 300;
    margin-top: 7px; }
  .price__line {
    position: absolute;
    content: "";
    background: #cd8d71;
    width: 85%;
    height: 2px;
    left: 8%;
    top: 65%; }
  .price__number {
    padding: 8px 12px;
    border-radius: 5px;
    background: #ff6b00;
    background-image: -webkit-gradient(linear, left top, right top, from(#ffbc02), to(#ffce02));
    background-image: -webkit-linear-gradient(left, #ffbc02 0%, #ffce02 100%);
    background-image: -o-linear-gradient(left, #ffbc02 0%, #ffce02 100%);
    background-image: linear-gradient(to right, #ffbc02 0%, #ffce02 100%);
    color: #000000;
    font-size: 34px;
    line-height: 24px;
    font-weight: 700;
    margin-top: 7px; }
  .price__span {
    font-weight: 400;
    position: relative; }

.pseudoOne {
  -webkit-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  transform: rotate(18deg); }

.pseudoTwo {
  -webkit-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  transform: rotate(-18deg); }

.form-footer {
  background: #eef2f7;
  padding: 11px 0 14px;
  border: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px; }
  .form-footer__logo {
    margin-right: 12px; }
  .form-footer__text {
    color: #666666;
    font-size: 14px;
    line-height: 16.52px; }

.label-form {
  margin-bottom: 20px; }
  .label-form:first-child {
    margin-bottom: 10px; }
  .label-form__logo {
    margin-right: 15px; }

.footer {
  padding: 33px 0 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .footer__logo {
    margin-bottom: 18px; }
  .footer__title {
    color: #383334;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 36px; }
  .footer__subtitle {
    color: #2b2828;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px; }

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 26px 0 74px 0;
  text-align: start; }
  .item__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .item__logo {
    margin-bottom: 18px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 19px 54px 0;
    position: relative; }
  .item__number {
    max-width: 50px;
    max-height: 50%;
    padding: 11px 17px;
    border: 0;
    border-radius: 50%;
    background: #ec9a6a;
    color: #fff;
    font-size: 30px;
    line-height: 28px;
    text-align: center;
    position: absolute;
    top: 30%;
    z-index: 20; }
  .item__number_two {
    background: #e47643; }
  .item__number_three {
    background: #ec5b19; }
  .item__title {
    max-width: 137px;
    color: #000000;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px; }
  .item__footer {
    max-width: 312px;
    margin: 0 auto; }
  .item__text {
    color: #444444;
    font-size: 18px;
    line-height: 28px; }

.statistics {
  border: 3px solid #f4d3bb;
  background: #fff;
  border-radius: 15px;
  padding: 41px 90px;
  position: relative; }
  .statistics__logo {
    max-width: 170px;
    max-height: 40px;
    position: absolute;
    background: #fff;
    top: -23px;
    left: 42%;
    padding: 0 60px; }
  .statistics__text {
    color: #444;
    font-size: 22px;
    line-height: 28px; }
  .statistics__span {
    color: #000000;
    font-weight: 500; }
