.footer {
   padding: 33px 0 27px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   flex-direction: column;

   &__logo {
      margin-bottom: 18px;
   }

   &__title {
      color: #383334;
      @include adaptive-font(48, 42);
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 36px;

      @media screen and (max-width: 768px) {
         margin-bottom: 20px;
      }
   }

   &__subtitle {
      color: #2b2828;
      @include adaptive-font(24, 20);
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
   }
}
.item {
   display: flex;
   justify-content: space-between;
   margin: 26px 0 74px 0;
   text-align: start;
   flex-wrap: wrap;

   @media screen and (max-width: 1091px) {
      justify-content: center;
      margin-bottom: 40px;
   }

   &__header {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__logo {
      margin-bottom: 18px;
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 19px 54px 0;
   }

   &__body {
      max-width: 344px;
      width: 100%;
      margin-bottom: 20px;
   }

   &__logoWrap {
      position: relative;
      margin-right: 19px;
   }

   &__number {
      max-width: 50px;
      max-height: 50%;
      padding: 11px 17px;
      border: 0;
      border-radius: 50%;
      background: #ec9a6a;
      color: #fff;
      @include adaptive-font(30, 24);
      line-height: 28px;
      text-align: center;
      position: absolute;
      top: 8%;
      right: -14px;
      z-index: 20;
   }

   &__number_two {
      background: #e47643;
   }

   &__number_three {
      background: #ec5b19;
   }

   &__title {
      max-width: 137px;
      color: #000;
      @include adaptive-font(22, 18);
      font-weight: 500;
      line-height: 26px;
   }

   &__footer {
      max-width: 312px;
      margin: 0 auto;
   }

   &__text {
      color: #444;
      @include adaptive-font(18, 16);
      line-height: 28px;
      position: relative;

      &::after {
         position: absolute;
         content: "";
         background: #becbd8;
         width: 50px;
         height: 3px;
         top: -20px;
         left: 0;
      }
   }
}
.statistics {
   border: 3px solid #f4d3bb;
   background: #fff;
   border-radius: 15px;
   padding: 41px 90px;
   position: relative;

   &__logo {
      max-width: 170px;
      max-height: 40px;
      position: absolute;
      background: #fff;
      top: -23px;
      padding: 0 60px;
      left: 50%;
      margin-left: -80px;
   }

   &__text {
      color: #444;
      @include adaptive-font(22, 18);
      font-size: 22px;
      line-height: 28px;
   }

   &__span {
      color: #000;
      font-weight: 500;
   }
}
