*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  color: #444;
  overflow-x: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
p {
  margin-bottom: 0;
}
a:focus,
:active {
  outline: none;
}
.container {
  max-width: 1200px;
  min-width: 320px;
}
