// ------------- header top ----------------------

.header {
   padding: 15px 0 0 0;
   background: url("../img/background-header2.png") no-repeat center/cover;

   &__title {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__awards {
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
.logo {
   display: flex;
   justify-content: center;
   align-items: center;

   &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 17px;
   }

   &__text {
      color: #383334;
      @include adaptive-font(22, 19);
      line-height: 40px;
   }
}
.awords {
   &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      &:not(:last-child) {
         margin-right: 30px;
      }
   }

   &__icon {
      margin-right: 10px;
   }

   &__text {
      @include adaptive-font(16, 14);
      color: #666666;
      line-height: 18px;
      font-style: italic;
   }
}

// ------------- header bottom content----------------------

.header {
   &__content {
      margin-top: 57px;
      display: flex;
   }
}
.about {
   padding: 0;

   &__title {
      max-width: 305px;
      width: 100%;
   }

   &__header {
      color: #383334;
      font-size: 44px;
      font-weight: 900;
      line-height: 44px;
   }

   &__span {
      font-size: 34px;
      font-weight: 700;
      line-height: 38px;

      &_red {
         position: relative;
         z-index: 10;
         &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 5px;
            bottom: 0;
            left: 0;
            background: #ff6b00;
            z-index: -1;
         }
      }

      &_green {
         position: relative;
         z-index: 10;
         &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 5px;
            bottom: 0;
            left: 0;
            background: #a7c93d;
            z-index: -1;
         }
      }
   }
}
.list {
   margin-top: 4px;

   &__item {
      margin: 40px 30px 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__numberWrapperTop {
      max-width: 60px;
      max-height: 60px;
      width: 100%;
      height: 100%;
      background: #e8edc9;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      padding: 7px;
      margin-right: 18px;
   }

   &__numberWrapperMidle {
      max-width: 46px;
      max-height: 46px;
      width: 100%;
      height: 100%;
      background: #a7c93d;
      border-radius: 50%;
      padding: 14px;
      display: flex;
      justify-content: center;
      padding: 10px 0;
   }

   &__number {
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      display: flex;

      &_first {
         letter-spacing: -2px;
      }
   }

   &__text {
      color: #444444;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
   }

   &__span {
      color: #000000;
      font-weight: 500;
   }
}
.red {
   position: relative;
   z-index: 10;
   &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background: #ff6b00;
      z-index: -1;
   }
}
.green {
   position: relative;
   z-index: 10;
   &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background: #a7c93d;
      z-index: -1;
   }
}

// ------------- header bottom form----------------------

.header {
   &__form {
   }
}
.form {
   border: 7px solid #a8ca3f;
   border-radius: 15px;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 0;

   &__free {
   }

   &__car {
   }

   &__span {
   }

   &__titleWrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 0 18px 0;
      padding: 0 20px;
   }

   &__title {
      color: #000000;
      font-size: 20px;
      line-height: 22px;
   }

   &__subtitle {
      color: #ff6b00;
      font-weight: 500;
      line-height: 22px;
   }

   &__prices {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__priseOne {
   }

   &__priseTwo {
   }

   &__inputs {
      padding: 0 20px;
   }

   &__label {
      display: flex;
      align-items: center;
      box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.04);
      border-radius: 32px;
      border: 1px solid #eef2f7;
      background: #eef2f7;
      padding: 20px;
   }

   &__input {
      max-width: 110px;
      border: 0;
      background: #eef2f7;
      color: #666666;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      &:focus {
         outline: none;
      }
      &::placeholder {
         color: #666666;
         font-size: 16px;
         font-weight: 400;
         line-height: 18px;
      }
   }

   &__button {
      border-radius: 32px;
      border: 1px solid #ffc002;
      background: #ffc002;
      color: #000000;
      line-height: 16px;
      font-size: 16px;
      padding: 11.5px 45px;
      margin-bottom: 20px;
      font-weight: 700;
   }

   &__btn {
      display: none;
   }

   &__buttonWrap {
   }

   &__labelSpan {
      font-weight: 700;
      font-size: 28px;
      line-height: 22px;
   }

   &__text {
      color: #666;
      font-size: 18px;
      line-height: 18px;
   }

   &__numberTen {
      color: #9dbd39;
      font-weight: 500;
   }
}
.form-footer {
   background: #eef2f7;
   padding: 11px 0 14px;
   display: flex;
   justify-content: center;
   align-items: center;

   &__logo {
      margin-right: 12px;
   }

   &__text {
      color: #666666;
      font-size: 14px;
      line-height: 16.52px;
   }
}
.label-form {
   margin-bottom: 20px;

   &:first-child {
      margin-bottom: 10px;
   }

   &__logo {
      margin-right: 15px;
   }
}
