// ------------- header top ----------------------

.header {
   padding: 15px 0 150px 0;
   background: url("../img/background-header2.png") no-repeat center/cover;

   &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
      flex-wrap: wrap;
   }

   &__awards {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 0;

      @media screen and (max-width: 992px) {
         padding-left: 15px;
      }
   }

   &__production {
      position: relative;

      @media screen and (max-width: 992px) {
         display: none;
      }
   }

   &__legs {
      position: absolute;
      top: -45%;
      left: -50%;
   }

   &__pils {
      position: absolute;
      bottom: -20%;
      left: -17%;
   }

   &__value {
      position: absolute;
      width: 100px;
      height: 40px;
      border-radius: 8px;
      background-color: #ff6b00;
      color: #fff;
      @include adaptive-font(34, 24);
      line-height: 24px;
      padding: 9px;
      bottom: 29%;
      right: 30%;
   }

   &__value_green {
      background-color: #a8ca3f;
      bottom: 8%;
      right: 9%;
   }
}
.value {
   &__span {
      margin-left: 5px;
   }
}

//----------------block logo------------------

.logo {
   display: flex;
   justify-content: center;
   align-items: center;

   @media screen and (max-width: 768px) {
      margin-bottom: 20px;
   }

   &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 17px;
   }

   &__text {
      color: #383334;
      @include adaptive-font(22, 22);
      line-height: 40px;
   }
}

// ------------- block awords----------------------

.awords {
   &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      &:not(:last-child) {
         margin-right: 30px;
      }

      @media screen and (max-width: 768px) {
         flex-wrap: wrap;
      }
   }

   &__icon {
      margin-right: 10px;

      @media screen and (max-width: 768px) {
         margin-bottom: 10px;
      }
   }

   &__text {
      @include adaptive-font(16, 14);
      color: #666666;
      line-height: 18px;
      font-style: italic;

      @media screen and (max-width: 768px) {
         text-align: center;
      }
   }
}

// ------------- header bottom content----------------------

.header {
   &__content {
      margin-top: 57px;
      display: flex;
      justify-content: center;

      @media screen and (max-width: 650px) {
         flex-wrap: wrap;
         margin-top: 30px;
      }
   }

   &__arrow {
      top: -41px;
      left: 24px;
      position: absolute;
   }

   &__plus {
      bottom: -47px;
      left: 24px;
      position: absolute;
   }
}

//--------------block about-------------------------

.about {
   padding: 0;

   &__title {
      max-width: 305px;
      width: 100%;

      @media screen and (max-width: 768px) {
         max-width: 415px;
         margin: 0 auto;
      }

      @media screen and (max-width: 650px) {
         max-width: 500px;
         text-align: center;
      }
   }

   &__header {
      color: #383334;
      @include adaptive-font(44, 34);
      font-weight: 900;
      line-height: 44px;
   }

   &__span {
      @include adaptive-font(34, 24);
      font-weight: 700;
      line-height: 38px;

      &_red {
         position: relative;
         z-index: 10;
         &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 5px;
            bottom: 0;
            left: 0;
            background: #ff6b00;
            z-index: -1;
         }
      }

      &_green {
         position: relative;
         z-index: 10;
         &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 5px;
            bottom: 0;
            left: 0;
            background: #a7c93d;
            z-index: -1;
         }
      }
   }
}
.list {
   margin-top: 4px;
   position: relative;

   @media screen and (max-width: 650px) {
      max-width: 500px;
      margin: 0 auto 30px;
   }

   &__item {
      margin: 40px 26px 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 650px) {
         margin-right: 0;
      }
   }

   &__numberWrapperTop {
      max-width: 60px;
      max-height: 60px;
      width: 100%;
      height: 100%;
      background: #e8edc9;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      padding: 7px;
      margin-right: 18px;
      position: relative;
   }

   &__numberWrapperMidle {
      max-width: 46px;
      max-height: 46px;
      width: 100%;
      height: 100%;
      background: #a7c93d;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      padding: 10px 0;
   }

   &__number {
      color: #fff;
      @include adaptive-font(20, 16);
      font-weight: 700;
      display: flex;

      &_first {
         letter-spacing: -2px;
      }
   }

   &__text {
      color: #444;
      @include adaptive-font(20, 16);
      font-weight: 400;
      line-height: 24px;
   }

   &__span {
      color: #000;
      font-weight: 500;
   }
}
.red {
   position: relative;
   z-index: 10;
   &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background: #ff6b00;
      z-index: -1;
   }
}
.green {
   position: relative;
   z-index: 10;
   &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background: #a7c93d;
      z-index: -1;
   }
}

// ------------- header bottom form----------------------

.form {
   border: 7px solid #a8ca3f;
   max-width: 270px;
   border-radius: 15px;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 0;
   position: relative;

   @media screen and (max-width: 768px) {
      margin-left: 10px;
   }

   &__free {
      padding: 0 15px 15px;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      border: 7px solid #a8ca3f;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-top: 0;
      background: #f3f9ff;
      position: absolute;
      top: -1.3%;
      left: 19%;
   }

   &__car {
      margin-right: 8px;
   }

   &__span {
      color: #444;
      @include adaptive-font(16, 12);
      line-height: 18px;
   }

   &__titleWrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 48px 0 18px 0;
      padding: 0 20px;
   }

   &__title {
      color: #000;
      @include adaptive-font(20, 16);
      line-height: 22px;
   }

   &__subtitle {
      color: #ff6b00;
      font-weight: 500;
      line-height: 22px;
   }

   &__inputs {
      padding: 0 20px;
   }

   &__label {
      display: flex;
      align-items: center;
      box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.04);
      border-radius: 32px;
      border: 1px solid #eef2f7;
      background: #eef2f7;
      padding: 20px;
   }

   &__input {
      max-width: 110px;
      border: 0;
      background: #eef2f7;
      color: #666;
      @include adaptive-font(16, 14);
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      &:focus {
         outline: none;
      }
      &::placeholder {
         color: #666;
         @include adaptive-font(16, 14);
         font-weight: 400;
         line-height: 18px;
      }
   }

   &__button {
      max-width: 210px;
      width: 100%;
      background: #ffc002;
      border: 3px solid #ffd34e;
      border-radius: 32px;
      color: #000;
      line-height: 16px;
      @include adaptive-font(16, 14);
      padding: 7px 30px;
      font-weight: 700;
      cursor: pointer;
      margin-bottom: 0;
   }

   &__buttonWrapp {
      max-width: 218px;
      width: 100%;
      border-radius: 36px;
      background: #ffc002;
      border: 0;
      padding: 5px;
      margin-bottom: 20px;
      cursor: pointer;
   }

   &__btn {
      display: none;
   }

   &__labelSpan {
      font-weight: 700;
      @include adaptive-font(28, 24);
      line-height: 22px;
   }

   &__text {
      color: #666;
      @include adaptive-font(18, 16);
      line-height: 18px;
   }

   &__numberTen {
      color: #9dbd39;
      font-weight: 500;
   }

   &__arrow {
      position: absolute;
      top: 32%;
      right: -12%;

      @media screen and (max-width: 340px) {
         right: -10%;
      }
   }
}
.price {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 15px;

   &__old {
      color: #666;
      @include adaptive-font(14, 12);
      line-height: 24px;
      position: relative;
   }

   &__new {
      color: #000;
      @include adaptive-font(14, 12);
      line-height: 24px;
   }

   &__oldNumber {
      padding: 8px 12px;
      border-radius: 5px;
      background: transparent;
      color: #000;
      font-size: 34px;
      line-height: 24px;
      font-weight: 300;
      margin-top: 7px;
   }

   &__line {
      position: absolute;
      content: "";
      background: #cd8d71;
      width: 85%;
      height: 2px;
      left: 8%;
      top: 65%;
   }

   &__number {
      padding: 8px 12px;
      border-radius: 5px;
      background: #ff6b00;
      background-image: linear-gradient(to right, #ffbc02 0%, #ffce02 100%);
      color: #000000;
      font-size: 34px;
      line-height: 24px;
      font-weight: 700;
      margin-top: 7px;
   }

   &__span {
      font-weight: 400;
      position: relative;
   }
}
.pseudoOne {
   transform: rotate(18deg);
}
.pseudoTwo {
   transform: rotate(-18deg);
}
.form-footer {
   background: #eef2f7;
   padding: 11px 0 14px;
   border: 0;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 15px;

   &__logo {
      margin-right: 12px;
   }

   &__text {
      color: #666666;
      font-size: 14px;
      line-height: 16.52px;
   }
}
.label-form {
   margin-bottom: 20px;

   &:first-child {
      margin-bottom: 10px;
   }

   &__logo {
      margin-right: 15px;
   }
}
